# run logs and outputs
wandb
outputs
multirun

# caches
.dataset_stats_cache
.hydra_restored

.vscode

# misc
__pycache__/
.pytest_cache/
*.pyc
*.egg-info

# catkin_ws build directories
.catkin_tools
build
install
log
devel
logs

ros2_ws/src/*

saved_runs

checkpoints

temp.py
debug_imgs
