# run logs and outputs
wandb
outputs

# caches
.dataset_stats_cache
.hydra_restored

.vscode

# misc
__pycache__/
*.pyc
*.egg-info

# catkin_ws build directories
.catkin_tools
build
devel
logs

saved_runs