einops
scikit-learn
kornia
albucore
albumentations
annotated-doc
annotated-types
antlr4-python3-runtime
anyio
asttokens
certifi
charset-normalizer
click
decorator
executing
filelock
fsspec
gitdb
gitpython
gradio
gradio_imageslider
h11
h5py
hf-xet
httpcore
httpx
# huggingface-hub
hydra-core
idna
ipython
ipython-pygments-lexers
jedi
jinja2
lxml
markdown-it-py
markupsafe
matplotlib-inline
mdurl
mpmath
natsort
networkx
omegaconf
opencv-python
pandas
parso
pexpect
platformdirs
prompt-toolkit
protobuf
ptyprocess
pure-eval
pydantic
pydantic-core
pytransform3d
regex
requests
rich
safetensors
scipy
seaborn
sentry-sdk
setuptools
shellingham
simsimd
smmap
stack-data
stringzilla
sympy
tokenizers
# torch
# torchvision
tqdm
traitlets
transformers
triton
typer
typing-inspection
# wandb
wcwidth
# lerobot==0.4.4
